* { box-sizing:border-box; }
html {
 direction: rtl;
}
body {
 font-family: 'Open Sans Hebrew', sans-serif;
 margin: 0;
 height: 100vh;
 letter-spacing: 0.5px;
 overflow: hidden;
 background-color: black;
}
a {
  text-decoration: none;
  color: #ccc;
}
#container {
 min-width: 1300px;
 height: 100%;
}
h1 {
 font-size: 2em;
 font-weight: medium;
 line-height: 1.36;
}
h2 { 
 font-size: 2em;
 font-weight: normal;
 margin-top: -15px;
}
label,input {
 display: block;
 margin-left: 20px;
 font-family: 'Open Sans Hebrew', sans-serif;
 line-height: 1.5;
}

form {  
 margin-top: 40px;
}

/***************KeyFrames********/
.type-it::after {
 content: "|";
 animation: blink ease 1s infinite;
}

@keyframes blink {
 0%, 100% {
   opacity: 0;
 } 50% {
   opacity: 1;
 }
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 300% 0; }
  100% { background-position: 0 0; }
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0;
      transform: translateY(100px);
  } 
  30% {
    opacity: 0;
  }
  100% { 
      opacity: 1; 
      transform: translateY(0);
   } 
  }
  @keyframes fadeOutAnimation { 
    0% { 
        opacity: 1;
        transform: translateY(0px);
    } 
    100% { 
        opacity: 0; 
        transform: translateY(-80px);
     } 
    }
@keyframes RegularFadeAnimation { 
  0% { 
      opacity: 0;
  } 
  100% { 
      opacity: 1; 
    }
  }
@keyframes fadeOut {
  0% { 
    opacity: 1;
  } 
  100% { 
    opacity: 0;
    } 
  }
@keyframes blur {
  0% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
  }
  100% {
      -webkit-filter: blur(20px);
      -moz-filter: blur(20px);
      -o-filter: blur(20px);
      -ms-filter: blur(20px);
      filter: blur(20px);
  }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ccc; }
}

.fadeIn {
  animation: fadeInAnimation ease 1.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}
.fadeOut {
  animation: fadeOut ease 1.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}
.fadeUpOut {
  animation: fadeOutAnimation ease 1.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
/***************Input styling**************/
.input-group { 
 position:relative; 
}
input {
 background: none;
 font-size:18px;
 padding:10px 10px 10px 5px;
 display:block;
 width:300px;
 border:none;
 border-bottom: 1px solid #3b68ff;
 color: white;
 margin-top: 30px; 
}
input:focus { 
 outline: none; 
 border-bottom: 1px solid rgba(59, 104, 255, 0);
 transition:1.2s; 
 -moz-transition:1.2s;
 -webkit-transition:1.2s;
}

/* LABEL ======================================= */
label {
 color:#7e7e7e;
 font-size: 1em;
 font-weight: normal;
 position: absolute;
 pointer-events: none;
 right: 5px;
 top: 15px;
 transition:0.2s ease all; 
 -moz-transition:0.2s ease all; 
 -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
 top:-20px;
 font-size:14px;
 color:#3B68FF;
}

/* BOTTOM BARS ================================= */
.input-bar {
 position:relative; 
 display:block; 
 width:300px; 
}
.input-bar:before {
 content:'';
 height:2px; 
 width:0;
 bottom:1px; 
 position:absolute;
 background:#3B68FF; 
 transition:0.4s ease all; 
 -moz-transition:0.4s ease all; 
 -webkit-transition:0.4s ease all;
}

.input-bar:after {
 left:100%; 
}

/* active state */
input:focus ~ .input-bar:before {
 width:100%;
}
/***********************************/
.blur{
  -webkit-animation: blur 1s forwards;
  -moz-animation: blur 1s forwards;
  -o-animation: blur 1s forwards;
  animation: blur 1s forwards;
}

#logo-img {
  z-index: 1;
  position: absolute;
  width: 50px;
  margin-top: 50px;
  margin-right: 70px;
}
#login-bg {
  background: radial-gradient(circle, rgba(100,100,100,0.4) 5%, rgba(0,0,0,0.85) 100%), url(images/mainScreen.png) no-repeat;
  background-size: 110%;
  background-position: 50% 60%;
  object-fit: contain;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
#login-bg2 {
  background: url(images/mainScreen2.png) no-repeat;
  background-size: 110%;
  background-position: 50% 60%;
  object-fit: contain;
  height: 100%;
}
#login {
 color: white;
 padding: 50px 70px 0 50px;
 width: 70%;
 height: 100%;
 padding-top: 150px;
}
.login-shadow {
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.95) 60%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 60%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}
#login-nav {
 position: relative;
}
#login-ul {
 margin: 60px 0 20px 0;
 position: relative;
 cursor: default;
}

#login-ul a{
 text-decoration: none;
 color: white;
 font-size: 1.2em;
}
#login-ul a.active{
 color: #3b68ff;
}
#slide-line{
 position: absolute;
 bottom: 0;
 height: 2px;
 background-color:#3b68ff;
 -webkit-transition: all .3s ease;
 transition: all .3s ease;
}
#login-btn, #register-btn{
 margin-top: 40px;
 width: 300px;
 height: 45px;
 border: none;
 border-radius: 10px;
 background: linear-gradient(45deg,#002bff, #4a74ff, #002bff);
 background-size: 300%;
 color:white;
 font-size: 1em;
 font-weight: bold;
 letter-spacing: 1px;
 text-align: center;
 color: #ffffff;
 cursor: pointer;
 position: relative;
 z-index: 0;
 -webkit-transition: all .3s ease;
 transition: all .3s ease;
}

/* #login-btn:before, #register-btn:before {
    content: '';
    background: linear-gradient(45deg,#002bff, #00b7ff, #002bff);
    position: absolute;
    top: 1px;
    left: 2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: 99%;
    height: 98%;
    opacity: 1;
    transition: all .2s ease-in-out;
    border-radius: 10px;
} */
#login-btn:hover, #register-btn:hover {
  animation: glowing 10s linear infinite;
} 
/* #login-btn:after, #register-btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
  -webkit-transition: all .3s ease;
 transition: all .3s ease;
}
#login-btn:hover:after, #register-btn:hover:after{
  background: #111;
} */
#login-btn:active, #register-btn:active {
  outline: none;
}

ul {
 padding: 0;
}

li {
 display: inline-block;
 margin-left: 20px;
}
/**********************Main Registration style**************/
#section1, #section2, #section3, #section7 {
  padding: 40px 150px 0 0;
  height: 600px;
  max-height: 100vh;
}

#progBar {
  width: 110%;
  min-width: 70%;
  height: 20px;
  border-radius: 10px;
  border: solid 1px #707070;
  margin-right: 150px;
  margin-top: -50px;
}
#progBar>div {
  background: linear-gradient(90deg, rgba(23,146,230,1) 0%, rgba(0,57,96,1) 100%);
  height: 100%;
  border-radius: 10px;
  width: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#reg-container {
  animation: fadeInAnimation ease 1.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#questionTxt {
  font-weight: normal;
  font-size: 45px;
  line-height: 1.35;
  letter-spacing: 1.3px;
  margin-bottom: 10px;
}
#ansInput {
  font-weight: 300;
  color: #444444;
  font-size: 30px;
  line-height: 1.40;
  padding: 0 2px 0 0;
  letter-spacing: 1.5px;
  border: none;
  border-right: 1px solid #ccc;
  margin-top: 10px;
  animation: blink-caret 1s step-end infinite;
}
#ansInput:focus {
  color: #ccc;
  animation: none;
  border: none;
}

.nextButton {
  position: relative;
  bottom: 100px;
  margin-right: 150px;
  width: 130px;
  height: 40px;
  border-radius: 10px;
  border: solid 1px #1592e6;
  font-size: 18px;
  color: white;
  background: none;
  font-family: 'Open Sans Hebrew', sans-serif;
  cursor: pointer;
  display: block;
  -webkit-transition: all .3s ease;
 transition: all .3s ease;
}
.nextButton:hover {
  background: #3B68FF;
  color: black;
}
.nextButton:focus {
  outline: none;
}

/*************Toggle Male Female*************/
.toggle {
  display: inline-block;
  position: relative;
  border-radius: 40px;
  height: 40px;
  width: 90px;
  margin-top: 40px;
  border: 1px solid gray;
  background: rgba(17, 17, 17, 0.5);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.toggle:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.toggle input {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  opacity: 0;
  cursor: pointer;
}
.toggle label {
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #2752dd;
  right: 0;
  top: 0;
  -webkit-transition: border 0.2s ease-out , right 0.2s ease-out , -webkit-transform 0.25s 0.2s ease-out;
  transition: border 0.2s ease-out , right 0.2s ease-out , -webkit-transform 0.25s 0.2s ease-out;
  transition: transform 0.25s 0.2s ease-out , border 0.2s ease-out , right 0.2s ease-out;
  transition: transform 0.25s 0.2s ease-out , border 0.2s ease-out , right 0.2s ease-out , -webkit-transform 0.25s 0.2s ease-out;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.toogle input:focus ~ label, .toggle input:valid ~ label {
  top: -1px;
  right: -1px;
}

.toggle label:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  width: 3px;
  height: 20px;
  background: #2752dd;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.toggle label:before {
  content: '';
  position: absolute;
  border-bottom: 3px solid #2752dd;
  border-right: 3px solid #2752dd;
  top: 32px;
  left: 6px;
  width: 19px;
  height: 19px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.toggle input:checked + label {
  border-color: #fc2695;
  right: 50px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.toggle input:checked + label:after {
  background: #fc2695;
  height: 20px;
}
.toggle input:checked + label:before {
  border-right: none;
  border-color: #fc2695;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  top: 25px;
  left: 7px;
}

/*************DropDown*********/
.dropdown {
  width: 300px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: inset 0px 0px 25px 4px rgba(255,255,243,0.07);
  transition: all .3s ease-in-out;
  position: relative;
  color: #666;
  outline: none;
  font-weight: 300;
  margin-top: 10px;
  border: 1px solid #222;
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 12px 30px;
}
.dropdown:hover {
  box-shadow: 0 0 4px #24a1f5;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,0.04) 100%);
}

.dropdown .dropdown-menu {
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 1px;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
    display: none;
    overflow-y: auto;
    z-index: 9;
    box-shadow: inset 0px 0px 35px 20px rgba(255,255,243,0.04);
    border: 1px solid #222;
    padding: 0;
    list-style: none;
}
.dropdown .dropdown-menu li, .select>span{
    padding: 12px 30px;
    margin: 0;
    transition: all .3s ease-in-out;
    cursor: pointer;
    color: #ccc;
    font-size: 20px;
} 
.dropdown li {
  display: block;
}
.dropdown li:hover {
  box-shadow: inset 0px 0px 20px 10px rgba(255,255,243,0.07);
}
.dropdown.open {
  border-radius: 5px 5px 0px 0px;
}
.down-arrow {
  position: absolute;
  left: 40px;
  top: 20px;
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 12px solid #ccc;
}

/************Profile Section (7)**********/
#profileImg {
  background: url(images/picUpload.png) no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 3px solid #bbb;
}
#personalInfo {
  display: flex;
}
.block {
  display: block;
  margin-right: 20px;
}
#nameTag {
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  color: #ccc;
}
#title {
  display: block;
  margin: 0;
  font-weight: 300;
  font-size: 30px;
  color: #ccc;
  line-height: 25px;
}
#status {
  display: block;
  margin-top: -25px;
}
#status h3, #status input{
  font-size: 20px;
  display: inline-block;
}
#status input {
  color: #666;
  font-weight: 300;
  border: none;
}
#status input:focus {
  color: #ccc;
}

hr {
  border: solid 0.4px #707070;
  width: 60%;
  margin: 0;
}
.infoGroup {
  color: #ccc;
  font-size: 20px;
  letter-spacing: 1px;
  height: 45px;
}
.infoGroup h4, .infoGroup p {
  display: inline-block;
}
/************Footer***********/
footer {
  color: #8e8e8e;
  position: absolute;
  bottom: 0;
  margin-right: 70px;
 }